﻿<!DOCTYPE html>
<html>
    <head>
	<meta charset="utf-8" />
	<!--
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="msapplication-tap-highlight" content="no" />
        <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
        <!-- meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
		-->
		<script src= "js/angular.min.js"></script>
        <link rel="stylesheet" type="text/css" href="css/index.css" />
		<link rel="stylesheet" type="text/css" href="css/ekihu.css" />
        <title>Asukkaan eKIHU applikaatio</title>

</style>
    </head>
    <body ng-app="" ng-controller="customersController" ">
        <div >
		
				 <h1> {{ names.Animi }} - TERVETULOA eKIHUUN</h1>
				<p id="ekihu_asukas"></p>
		</div>
		<div>
			<table style="width:100%">
				<tr>
					<th></th>
				</tr>
				<tr>
					<td align="center"><a href="json.html"><img class="nappula-3-kuvaa" src="img/document3.png" title="Näytä huoltotiedot"></a></td>
					<td align="center"><a href="huoltomies-tapahtumat.html"><img class="nappula-3-kuvaa" src="img/insident_add.png" title="Lisää huoltotapahtuma"></a></td>
					<td align="center"><a onclick="return qrcodeFeed()"><img class="nappula-3-kuvaa" src="img/timo-web-sivu.png" title="Lisää huoltotapahtuma QR-koodilla"></a></td>
				</tr>
			</table>
        </div>
		
		<script>
			function customersController($scope,$http) {
			  $http.get("asukas.json")
			  .success(function(response) {$scope.names = response;});
			}
			
			function qrcodeFeed() {alert("Syötä vikatieto/ huoltotapahtumatieto QR-koodilla - ei tuettu ominaisuus");
			//tiedon syöttä QR-koodilla ominaisuus implementoi tähän
			
			//tiedon lähetys backendiin
			//saveData();
			}
			
		</script>
		
    </body>
</html>
