﻿<!DOCTYPE html>

<html>
    <head>
	<meta charset="utf-8" />
	<!--
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="msapplication-tap-highlight" content="no" />
        <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
        <!-- meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
		-->
		<script src= "js/angular.min.js"></script>
        <link rel="stylesheet" type="text/css" href="css/index.css" />
		<link rel="stylesheet" type="text/css" href="css/ekihu.css" />
        <title>eKIHU applikaatio</title>
    </head>
    <body>
		<div>
				<h1>SYÖTÄ VIKA / HUOLTOTAPAHTUMAPYYNTÖ</h1>
				<p id="ekihu"></p>
		</div>
		
		
		
		<div ng-app="" class="nappula">
			<!--
			Raportoijan nimi (vapaaehtoinen syöttää): <br>
			<input type="text" ng-model="nimi" placeholder="" size="30" > {{nimi}}
			<br><br>
			-->
			
			<br>
			Klikkaa .<input type="checkbox" ng-model="mySwitch"  />. , jos haluatko nimesi tapahtumapyyntöön
			<br><br>
			Kirjoita vika / huoltotapahtumapyyntö: <br>
			<input type="text" ng-model="tapahtuma" placeholder="" size="30"> {{tapahtuma}}
			<br><br>
			<div class="">
				<a ng-show="tapahtuma" href="index.html" onclick="return saveData()"><img class="backbutton" src="img/save.png" title="Tallenna"></a>
				<a ng-hide="tapahtuma" href="index.html" onclick="return voiceFeed()"><img class="backbutton" src="img/speaker.png" title="Syötä vika puhumalla"></a>
				<a href="index.html"><img class="backbutton" src="img/back.png" title="Paluu edelliseen valikkoon"></a>
			</div>
			
		</div>
		
		

		
		<script>
			function saveData() {alert("Tiedot talletettu!");
			//tiedon lähetys backendiin ja talletusominaisuus implementointi tähän
			
			}
			
			function voiceFeed() {alert("Syötä vikatieto/ huoltotapahtumatieto puhumalla!");
			//tiedon syöttä äänellä ominaisuus implementoi tähän
			
			//tiedon lähetys backendiin
			saveData();
			}
			
		</script>
		
    </body>
</html>