﻿<!DOCTYPE html>
<!-- asukkaiden ilmoittamat taloyhtiön viat lista haetaan JSON tiedostosta-->

<html>

<head>
	<meta charset="utf-8" />
	<script src= "js/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/index.css" />
	<link rel="stylesheet" type="text/css" href="css/ekihu.css" />
</head>

<body>

		<div>
				<h1>HUOLTOTAPAHTUMAT</h1>
				<p id="ekihu"></p>
		</div>

<div ng-app="" ng-controller="customersController"> 

<ul>
<h2>HOIDETUT TAPAHTUMAT:</h2>
<div ng-repeat="x in names" >
  <li ng-show="x.Korjauspvm">
	
    {{ x.Korjauspvm + ', ' + x.Viesti }}

  </li>
</div>
</ul>
<br>
<ul>
<h2>RAPORTOIDUT - KESKENERÄISET TAPAHTUMAT:</h2>
<div ng-repeat="x in names" >
  <li ng-hide="x.Korjauspvm">
	
    {{ x.Viesti }}

  </li>
</div>
</ul>

</div>

<script>
	function customersController($scope,$http) {
	  $http.get("data.json")
	  .success(function(response) {$scope.names = response;});
	}
</script>

		<div>
			<a href="index.html"><img class="backbutton" src="img/back.png" title="Paluu edelliseen valikkoon"></a>
		</div>

</body>
</html>