﻿body {
	background-image: url("../img/talvitalohimmee.jpg");
	background-size: 100% 100%;
	background-repeat: repeat-x;
}

h1{
    font-size: 40px;
    text-align: center;
    color: red;
}

input[type=checkbox] {

 -ms-transform: scale(3); /* IE */
 -moz-transform: scale(3); /* FF */
 -webkit-transform: scale(3); /* Safari and Chrome */
 -o-transform: scale(3); /* Opera */
  padding: 50px;
  
  outline: 1px solid #FF0000 /* checkbox outlining color */
}

.nappula{
    width:100%;
    display:inline-block;
	font-size: 200%;
}

.nappula-2-kuvaa{
    width:25%;
    display:inline-block;
	font-size: 150%;
}

.nappula-3-kuvaa{
    width:50%;
    display:inline-block;
	font-size: 150%;
}

.backbutton{
    width: 10%;
    height: 10%;
    padding: 0;
	margin-left: auto;
    margin-right: auto;
}

ul li{
 font-size:20px;
}

img {
    width: 50%;
    height: 50%;
    padding: 30;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    background-color: #b0e0e6;
}

#ikonit {
    width: 50%;
    margin: 0 auto;
}

.DocumentList
{
    overflow-x:scroll;
    overflow-y:hidden;
    height:200px;
    width:100%;
    padding: 0 15px;
}